body{

background:black;
color:white;
text-align:center;
font-family:Arial;

}

button{

padding:15px;
margin:10px;
font-size:20px;

}

canvas{

background:#111;
margin-top:20px;

}

#clicker,#reaction,#snake{

display:none;

}
